.write_input {
    display: flex;
    flex-direction: column;
}

.write_title {
    background-color: #172036;
    color: white;
}

.tag_write {
    background-color: #26304a;
    color: white;
}

.write_input input {
    width: 98%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #26304a;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: white;
}

.write_input textarea {
    background-color: #172036;
    width: 98%;
    border: none;
    resize: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #26304a;
    color: white;
}

.write_input form {
    display: flex;
    flex-direction: column;
}

.tag_container {
    display: flex;
    margin-bottom: 20px;
}

.tag_container button {
    margin-left: 5px;
    border: none;
    background-color: #3b4869;
    border-radius: 10%;
    cursor: pointer;
    color: white;
}
.edit_img {
    width: 500px;
}

.imgAdd {
    margin-left: 10px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #3b4869;
    cursor: pointer;
    font-weight: 900;
}

.write_content {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #172036;
    border-radius: 10px;
    padding: 20px;
}

.write_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.write_top_title {
    font-size: 20px;
    font-weight: 900;
}

.write_btn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #e83c4d;
    font-size: 16px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.write_edit_delete {
    display: flex;
}

.write_edit_delete label {
    margin-right: 5px;
}
