.comment_div {
    margin-bottom: 10px;
}

.comment_title {
    display: flex;
    align-items: center;
}

.comment_id {
    font-weight: 900;
    margin-right: 10px;
}

.comment_date {
    font-size: 12px;
}

.comment_content {
    margin-top: 10px;
    white-space: pre-wrap;
}

.commentItem_editBtns {
    display: flex;
    justify-content: right;
}

.commentItem_editBtns button {
    border: none;
    cursor: pointer;
    background-color: gainsboro;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 900;
}

.commentItem_toggle {
    border: none;
    cursor: pointer;
}

.comment_write_div {
    display: flex;
    align-items: center;
}

.comment_write_div textarea {
    width: 90%;
    height: 50px;
}

.comment_write_div button {
    width: 10%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: gainsboro;
    margin-left: 10px;
}

.commentItem_div_content {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.comment_write_div textarea {
    padding: 10px;
    resize: none;
    border: none;
}
