.today-main {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-main .today-main-sub {
  position: relative;
  width: 90%;
  margin: 5px auto;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.today-main-sub .today-title {
  position: relative;
  width: 100%;
  justify-content: left;
  align-items: left;
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.today-main-sub .today-title .title-link {
  width: 100%;
  font-size: 1.3vw;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

/* 마우스 올리면 '모두 보기' 뜸 */
.today-main-sub .today-title .view-all-link {
  cursor: pointer;
    display: inline-block;
    font-size: 1.2vw;
    line-height: .8vw;
    margin-right: 4px;
    max-width: 0;
    opacity: 0;
    transition: max-width 1s,opacity 1s,transform .75s;
    vertical-align: bottom;
    white-space: nowrap;
    color: #54b9c5;
}

.today-main-sub .today-title .view-all-link-chevron {
  display: inline-block;
  font-size: .9vw;
  transition: transform .75s;
  vertical-align: bottom;
  color: #54b9c5;
  margin-left: 4px;
  opacity: 0;
  transform: translateX(0);/* 초기 상태에서 화살표 위치 설정 */
}

.today-main-sub .today-title .title-link:hover .view-all-link {
  max-width: 100px; /* '모두 보기'의 최대 너비를 설정 */
  opacity: 1;
  transform: translateX(1vw); /* 적당한 위치로 이동 */
}

.today-main-sub .today-title .title-link:hover .view-all-link-chevron {
  opacity: 1; /* 아이콘이 보이도록 설정 */
  transform: translateX(1vw); /* '모두 보기'와 함께 이동 */
}

/* 추천 영화 목록 */
.today-recomend {
  position: relative;
  display: flex;
  width: 100%;
  overflow: visible;  /* 컨테이너를 넘어서는 내용 숨기기 */
}

.today-recomend .slick-slider {
  width: 100%;
  display: flex; /* Flexbox를 사용하여 정렬 */
}
.today-recomend .slick-track {
  display: flex;
  align-items: flex-start; /* Flexbox를 사용하여 정렬 */
}

.today-recomend .slick-slide {
  display: flex;
  align-items: flex-start;
}
.slick-slide {
  margin: 0 10px; /* 슬라이드 간의 여백 */
}

/* 슬라이드의 내용이 중앙 정렬되도록 보장 */
.slick-slide > div {
  display: flex;
  justify-content: center; /* 슬라이드의 내용을 중앙 정렬 */
}

.today-recomend .slick-slide .today-image {
  position: relative;
  width: 200px; /* 영화 아이템의 너비 설정 */
  height: 300px; /* 영화 아이템의 높이 설정 */
  margin: 0 5px; /* 아이템 간의 여백 추가 */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s;
}

.today-recomend .slick-slide .today-image img {
  width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
  height: 100%; /* 부모 컨테이너의 높이에 맞춤 */
  object-fit: cover; /* 비율 유지하면서 컨테이너를 덮도록 조정 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.today-recomend .slick-slide .today-image .today-rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

/* Custom arrow button styling */
.slick-prev,
.slick-next {
    display: block;
    background-color: transparent;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 50px;
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
    opacity: 1;
}

.slick-prev {
    left: -7px;
}

.slick-next {
    right: -5px;
}
