.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-modify {
    flex: 1;
    padding: 5% 0 5% 5%;
}

.user-img-wrapper {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.img-wrapper-inner {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-img-overlay {
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    border-radius: 0 0 50% 50%;
}

.modify-button {
    position: absolute;
    bottom: 20px;
    right: -15px;
    background-color: #0c1330d6;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.settings-button img {
    width: 20px;
    height: 20px;
}

.img-box-body {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 55px;
}

.img-box {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #7786af;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box:hover {
    background-color: #3b4869;
}

.modify-box-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ect {
    flex: 3;
}