#user-update-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.user-update-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-update-box {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.user-update-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.user-update-content-input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.user-update-content-button-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}