.movieList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust gap as needed */
    justify-content: space-between;
  }
  
  .movieList img {
    list-style: none;
    width: 200px;
  }