.community_total {
  color: white;
  margin: 70px 80px 150px 80px;
  caret-color: transparent;
}

.search_result {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.search_result p {
  margin-bottom: 10px;
}

.keyword {
  font-size: 25px;
  font-weight: bold;
}

.community_list_total {
  border-radius: 50px;
  transition: 0.4s ease-in-out;
}

.community_list_total :hover {
  cursor: pointer;
  background-color: #ee394a;
}

.community_list {
  background-color: #212839;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 15px;
}

.community_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 150px);
}

.community_info h3 {
  font-size: 17px;
}

.community_info_stats {
  display: flex;
  flex-wrap: wrap;
}

.community_info_sub {
  background-color: #25304a;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 12px;
  padding: 6px 15px 6px 15px;
  margin-right: 10px;
}

.community_info_stats :hover {
  background-color: #ff6969;
  cursor: default;
}

.community_img {
  width: 150px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}
