.search_box {
  margin: 15px 80px 0 80px;
  align-items: center;
}

.search_list {
  display: flex;
  align-items: center;
}

.search_list_data {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  flex-wrap: wrap;
  margin: 0 200px;
  justify-content: center;
}

.searchList_ment {
  margin-top: 80px;
  font-size: 17px;
  font-weight: bold;
}

.search_list_data li {
  padding: 10px 17px 7px 17px;
}
.search_list_keywords {
  border-radius: 18px;
  background-color: #1e2436;
  outline: none;
  color: #bdbecb;
  font-size: 15px;
  transition: 0.1s ease-in-out;
}

.search_list_keywords:hover {
  cursor: default;
  background-color: #ee394a;
  color: white;
}

.delete_all {
  margin-left: auto;
  cursor: pointer;
  font-size: 15px;
}

.delete {
  font-size: 15px;
  padding-left: 5px;
  cursor: pointer;
}

.delete svg {
  vertical-align: middle;
}
