.footer_div {
    border-top: 1px solid #172036;
    background-color: #15192a;
    height: 20px;
    padding: 20px;
    margin-bottom: 70px;
}

.footer_info {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.footer_info_title {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 15px;
    color: gainsboro;
}

.footer_info p {
    color: gray;
    margin-bottom: 5px;
    font-size: 14px;
}
