.input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box-title {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    cursor: default;
}

.input-box-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-box-body {
    display: flex;
    gap: 10px;
}

.input-box-input {
    flex: 1;
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 8px 16px;
    height: 28px;
    outline: none;
    background-color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.input-box-input::placeholder{
    color: gainsboro;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.input-box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 110px;
    height: 44px;
    background-color: rgb(232, 222, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    cursor: pointer;
}

.input-box-button-disable {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 110px;
    height: 44px;
    background-color: rgb(210, 210, 210);
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    cursor: default;
}

.input-box-button:hover {
    background-color: rgb(212, 194, 255);
}

.input-box-message {
    color: rgb(172, 83, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.input-box-message-error {
    color: rgb(255, 112, 112);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}