.recommend-list {
    padding: 20px;
    background-color: #1f1f1f;
    color: #fff;
}

.recommend-list h1 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.recommend-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 행에 4개의 아이템을 표시 */
    gap: 20px;
    justify-content: center;
}

.recommend-item {
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease;
}

.recommend-item:hover {
    transform: scale(1.05);
}

.recommend-poster {
    width: 100%;
    height: auto;
}

.recommend-info {
    padding: 10px;
}

.recommend-info h3 {
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 길이가 긴 텍스트를 ...으로 표시 */
}

.tomato-image {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}
